[project]
	description = Ground Control Software
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dmccammon
[access "refs/for/refs/*"]
	read = group user/dmccammon
	push = group user/dmccammon
	label-Code-Review = -2..+2 group user/dmccammon
	label-Verified = -1..+1 group user/dmccammon
	rebase = group user/dmccammon
	removeReviewer = group user/dmccammon
	submit = group user/dmccammon
[access "refs/heads/*"]
	read = group user/dmccammon
	create = group user/dmccammon
	push = +force group user/dmccammon
	pushMerge = group user/dmccammon
[access "refs/tags/*"]
	push = +force group user/dmccammon
	pushTag = group user/dmccammon
	pushSignedTag = group user/dmccammon
